# Configurações do Flask
SECRET_KEY=pizzaria404_dev_secret
FLASK_RUN_HOST=127.0.0.1
FLASK_RUN_PORT=5000
FLASK_DEBUG=True

# Banco de dados
DB_NAME=sistema.db

# Chave simétrica base64 de 32 bytes para criptografia de dados (gerada pelo Fernet)
ENCRYPTION_KEY=38bZ4x8W8k3N_p69v5m6L8x1y5K2g3P8m9A4b5C6d7E=
